# Checks: >
#   -*,
#   bugprone-*,
#   cert-*,
#   clang-analyzer-*,
#   performance-*,
#   misc-*,
#   portability-*,
#   readability-braces-around-statements,
#   readability-duplicate-include,
#   readability-inconsistent-declaration-parameter-name,
#   readability-misleading-indentation,
#   readability-non-const-parameter,
#   readability-redundant-control-flow,
#   readability-redundant-declaration,
#   readability-suspicious-call-argument,
#   -cert-dcl37-c,
#   -cert-dcl51-c,
#
# CheckOptions:
#   - key: 'Language'
#     value: 'C11'
# ExtraArgs: ['-std=c11']

Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  performance-*,
  misc-*,
  portability-*,
  readability-braces-around-statements,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-non-const-parameter,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-suspicious-call-argument,
  -misc-include-cleaner,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -bugprone-reserved-identifier,
  -portability-restrict-system-includes,

CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: '4'

ExtraArgs: ['-std=c11']
HeaderFilterRegex: '(^|.*/)(src|include)/.*'
ExcludeHeaderFilterRegex: '(^|.*/)libft/.*'
FormatStyle: file
